body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* First section styling */
.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
}

.link-text,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-content-container,
.top-image {
    display: flex;
    align-items: center;
    width: 450px;
    height: 200px;
}

.top-content-container {
    flex-wrap: wrap;
}

.top-image {
    justify-content: center;
    background-color: grey;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: none;
    padding: 6px 20px 6px 20px;
}

/* Second section */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-content {
    display: flex;
    justify-content: center;
}

.second-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
}

figcaption {
    text-align: center;
}

/* Third section */

.third-section {
    background-color: #E5E7EB;
}

.third-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section-content p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}