body {
    display: flex;
    flex-direction: column;
}

/* First section styling */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}